@page
@model Quote.Pages.IndexModel

@{ ViewData["Title"] = "Quotes"; }

<div class="dropdown float-right">
    <br />
    <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        Filter By Quotes
    </button>
    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
        <a class="dropdown-item" asp-route-id="0" asp-page="./Index">All Quotes</a>
        <a class="dropdown-item" asp-route-id="1" asp-page="./Index">Like a Box of chocolate you never know what your going to get</a>
        <a class="dropdown-item" asp-route-id="2" asp-page="./Index">just keep swimming, just keep swimming</a>
        <a class="dropdown-item" asp-route-id="3" asp-page="./Index">Hakuna Matata</a>

    </div>
</div>
@if (Model.QuoteID == 0)
{
    <h1 class="display-4">Quotes</h1>
}
else
{
    <h1 class="display-4">Quotes on the @Html.DisplayFor(m => m.Quote[0].Quote.QuoteID)</h1>
}


<p>
    <a asp-page="Create">Add New Quote</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Quote ID
            </th>
            <th>
                Author
            </th>
            <th>
                Date
            </th>
            <th>
                Subject
            </th>
            <th>
                Citation
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Quote)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Author)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Date)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subject)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Citation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.QuoteID)
                @Html.DisplayFor(modelItem => item.Author),
                @Html.DisplayFor(modelItem => item.Date)
                @Html.DisplayFor(modelItem => item.Subject)
                @Html.DisplayFor(modelItem => item.Citation)
            </td>
      
            <td>
                <a class="btn btn-warning" asp-page="./Edit" asp-route-id="@item.QuoteID"><i class="bi bi-pencil"></i></a>
                <a class="btn btn-primary" asp-page="./Details" asp-route-id="@item.QuoteID">Details</a>
                <a class="btn btn-danger" asp-page="./Delete" asp-route-id="@item.QuoteID"><i class="bi bi-trash"></i></a>
            </td>
        </tr>
}
    </tbody>
</table>



